body{
  text-align: center;
  font-family: "Helvetica", sans-serif;
  color:black;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color:white;
}

.lk{
  font-size: 18px;
  color: white
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h4{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.hero{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
}

.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
